body {
  font-family: 'Roboto', sans-serif;
  color: $color-text;
}

h1 {
  font-size: 12rem;
  font-weight: 500;
  color: $color-white;
  @include respond(smallest) {
    font-size: 8rem;
  }
}

h2 {
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

p {
  font-size: 2rem;
}

footer {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
