//colors
$color-text: #d8d2d2;
$color-black: #000000;
$color-white: #ffffff;
$color-bg: #111111;
$color-hover: #6bcad6;
$color-bg-light: #202020;
$color-bg-animateddark: #161616;
$color-bg-animatedlight: #171717;
$color-accent: #ff7f50;
$color-accent-two: #e46f45;
$color-accent-hover: #ff7f50b4;

//breakpoints

//1440px
$breakpoint-laptop: 90em;

//1150px
$breakpoint-tablet: 71.875em;

//990px
$breakpoint-tablet-sm: 61.875em;

//630px
$breakpoint-phone: 39.375em;

//600px
$breakpoint-mini-phone: 37.5em;

//500px
$breakpoint-smallest: 31.25em;
